.affix {
top: 0;
width: 100%;
z-index: 9999 !important;
}

.affix ~ .container-fluid {
position: relative;
padding-top: 70px;
}
.avatar {
vertical-align: middle;
horizontal-align: right;
width: 24px;
height: 24px;
border-radius: 60%;
}
	
textarea {
overflow: scroll;
resize: vertical;
font-size: 2vw; 
min-height:100px;   
}

.jumbotron{
border-style: solid;
border-color: #34495e;
border-width: medium;
}

footer {
background-color: #566573;
color: white;
padding: 10px;
border-radius: 6px;
}

body{
	height: auto;
	background: #839192;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: auto;}

/* Set gray background color and 100% height */
.sidenav {
background-color: #f1f1f1;
border-right: 6px solid green;
height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: auto;) {
.sidenav {
height: auto;
padding: 10px;
}
.row.content {height: auto;}
}

/* Para móviles */
@media (max-width: 767px) {
    body {
        background-color: #839192;
        font-family: ubuntu;
    }
}

/* Para PC */
@media (min-width: 768px) {
    body {
        background-color: #839192;
        font-family: ubuntu;
    }
}
